.tabs {
  display: grid;
  margin-top: 50px;
  width: 75%;
  display: grid;
  grid-template-columns: 25% 75%;
  justify-self: center;
  margin: 0 auto;
}

.mat-tab-nav-bar {
  border: none;
}

.mat-tab-links {
  display: grid;
}

.mat-tab-label-active {
  font-weight: bold;
}

.mat-ink-bar {
  display: none;
}

.nav-placeholder {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0 15px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
  height: 200px;
  background: repeating-linear-gradient( 45deg, white, white 10px, rgb(248, 248, 248) 10px, rgb(248, 248, 248) 20px);
}
