<!--
  This component could just use mat-tab-group, but it's been made intentionally more complex
  for demonstration purposes.
-->
<nav mat-tab-nav-bar *ngIf="!pageEditing; else navPlaceholder">
  <ng-container *ngFor="let tab of tabs; let index = index">
    <a mat-tab-link *scText="tab.fields.title" (click)="activateTab(tab, index)" [active]="activeIndex == index"></a>
  </ng-container>
</nav>
<ng-template #navPlaceholder>
  <div class="nav-placeholder">
    Tab
    <br /> Navigation
  </div>
</ng-template>
<div class="tabs-content" sc-placeholder name="tabs" [rendering]="rendering" [inputs]="tabInputs" [outputs]="tabOutputs"></div>
