mat-card {
  text-align: center;
}

mat-card-actions {
  display: grid;
  justify-content: right;
}

mat-card.page-editing {
  border: 1px solid black;
  margin-bottom: 10px;
}

.page-editing mat-card-title {
  text-decoration: underline;
  color: grey;
}

.page-editing mat-card-actions {
  display: none;
}
