{
  "root": true,
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:yaml/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "yaml"
  ],
  "ignorePatterns": [".generated/**/*", "**/*.d.ts", "**/*.js"],
  "rules": {
    "@next/next/no-img-element": "off", // Don't force next/image (these aren't currently compatible with Sitecore editing)
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "jsx-quotes": ["error", "prefer-double"]
  }
}
