{
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:prettier/recommended",
    "plugin:vue/recommended"
  ],
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["import", "vue"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./build/webpack/webpack.eslint.js"
      }
    },
    "import/ignore": ["node_modules", ".png$", ".jpg$"]
  },
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": true
      }
    ],
    "linebreak-style": ["error", "windows"],
    "arrow-body-style": ["warn", "as-needed"],
    "arrow-parens": ["error", "always"],
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    "radix": ["error", "as-needed"],
    "prefer-destructuring": "off",
    "no-use-before-define": ["error", { "functions": false }]
  }
}
