{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsdoc/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier", "jsdoc"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "jsdoc/newline-after-description": "off",
    "jsdoc/require-property-description": "off",
    "jsdoc/require-param-description": "off",
    "jsdoc/require-returns": "off",
    "jsdoc/no-undefined-types": "off",
    "jsdoc/require-returns-type": "off",
    "prettier/prettier": "error",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "format": ["PascalCase"],
        "selector": "typeLike",
        "custom": {
					"regex": "^I[A-Z]",
          "match": false
        }
      }
    ],
    "@typescript-eslint/member-ordering": "error",
    "@typescript-eslint/no-explicit-any": "error",
		"@typescript-eslint/no-use-before-define": ["error", { "functions": false, "variables": false }],
    "@typescript-eslint/typedef": "error",
    "@typescript-eslint/type-annotation-spacing": "error",
    "@typescript-eslint/semi": "error",
    "@typescript-eslint/no-var-requires": "off",
    "no-useless-escape": "off",
    "no-restricted-globals": "off",
    "no-restricted-properties": "off",
    "spaced-comment": "error",
    "curly": ["error", "multi-line"],
    "eol-last": ["error", "always"],
    "guard-for-in": "error",
    "no-unused-labels": "error",
    "max-len": "off",
    "no-caller": "error",
    "no-bitwise": "error",
    "no-multiple-empty-lines": "error",
    "no-new-wrappers": "error",
    "no-debugger": "error",
    "no-empty": "error",
    "no-eval": "error",
    "dot-notation": "error",
    "no-fallthrough": "error",
    "no-trailing-spaces": "error",
    "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
    "brace-style": "error",
    "quotes": ["error", "single"],
    "radix": "error",
    "default-case": "error",
    "eqeqeq": "error"
  }
}
