{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "format": ["PascalCase"],
        "selector": "typeLike",
        "custom": {
					"regex": "^I[A-Z]",
          "match": false
        }
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/member-ordering": "error",
    "@typescript-eslint/no-explicit-any": "error",
		"@typescript-eslint/no-use-before-define": ["error", { "functions": false, "variables": false }],
    "@typescript-eslint/typedef": "error",
    "@typescript-eslint/type-annotation-spacing": "error",
    "@typescript-eslint/semi": "error",
    "@typescript-eslint/no-var-requires": "off",
    "no-restricted-globals": "off",
    "no-restricted-properties": "off",
    "spaced-comment": "error",
    "curly": ["error", "multi-line"],
    "eol-last": ["error", "always"],
    "guard-for-in": "error",
    "valid-jsdoc": ["error", { "requireParamDescription": false, "requireReturn": false, "requireReturnType": false }],
    "no-unused-labels": "error",
    "max-len": "off",
    "no-caller": "error",
    "no-bitwise": "error",
    "no-console": ["error", { "allow": ["log", "warn", "error", "info"] }],
    "no-multiple-empty-lines": "error",
    "no-new-wrappers": "error",
    "no-debugger": "error",
    "no-empty": "error",
    "no-eval": "error",
    "dot-notation": "error",
    "no-fallthrough": "error",
    "no-trailing-spaces": "error",
    "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
    "brace-style": "error",
    "quotes": ["error", "single"],
    "radix": "error",
    "default-case": "error",
    "comma-dangle": ["error", { "objects": "always-multiline", "imports": "always-multiline", "exports": "always-multiline" }],
    "eqeqeq": "error"
  }
}
