.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

scjssconfig.json
scjssconfig.bak

*.pfx
*.publishsettings
node_modules/
*.log
npm-debug.log*
dist
*.eslintcache

lerna-debug.log
.nyc_output
coverage/
/badges
packages/*/*.tgz
samples/

.idea
