scjssconfig.json
scjssconfig.bak

*.pfx
*.publishsettings
node_modules/
*.log
npm-debug.log*
dist
dist/!prerender

lerna-debug.log
.nyc_output
coverage/
/badges
packages/*/*.tgz
/samples/react/profiling
