scjssconfig.json
scjssconfig.bak

*.pfx
*.publishsettings
node_modules/
*.log
npm-debug.log*
dist
/docs/prerender/!dist

lerna-debug.log
.nyc_output
coverage/
/badges
packages/*/*.tgz
/samples/react/profiling
settings.json
