# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  branches:
    include:
    - master
    - dev
    - release/*
  paths:
    include:
    - /

# should trigger builds for PRs targeting any of the listed branches
pr:
  branches:
    include:
    - master
    - dev
    - release/*
  paths:
    include:
    - /

pool:
  vmImage: 'ubuntu-latest'

variables:
  shouldPublish: $[or(eq(variables['Build.SourceBranch'], 'refs/heads/dev'), startsWith(variables['Build.SourceBranch'], 'refs/heads/release/'))]
  ${{ if startsWith(variables['Build.SourceBranch'], 'refs/heads/') }}:
    branchName: $[ replace(variables['Build.SourceBranch'], 'refs/heads/', '') ]
  ${{ if startsWith(variables['Build.SourceBranch'], 'refs/pull/') }}:
    branchName: $[ replace(variables['System.PullRequest.SourceBranch'], 'refs/heads/', '') ]

steps:
- script: |
    yarn cache clean --all && yarn install
  displayName: 'yarn install'
- script: |
    yarn build
  displayName: 'building packages'
- script: |
    yarn lint-packages
  displayName: 'linting packages'
- script: |
    yarn lint-apps
  displayName: 'linting apps'
- script: |
    yarn coverage-packages
  displayName: 'running tests'
  env: {
    testEnv: 'ci'
  }
  #
  # LERNA VERSION
  # * Configure git with a commit user
  # * Update git remote to include a Personal Access Token, so lerna can push
  # * Explicitly check out the current branch since Pipelines will use disconnected HEAD by default
  # * Increment pre-release version
  #     * Force version update even if lerna doesn't detect changes
  #     * Include [skip ci] in commit message to stop pipeline from triggering again when lerna pushes
  # * Only run for 'dev' branch
  #
- script: |
    git config user.email builds@sitecore.com
    git config user.name "Automated Build"
    git remote set-url origin https://$GITHUB_PAT_ENV@github.com/Sitecore/jss.git
    git checkout $(branchName)
    $(npm bin)/lerna version prerelease --preid canary --force-publish --message "version %s [skip ci]" --yes --no-push
    yarn config set enableInlineBuilds false
    set YARN_ENABLE_IMMUTABLE_INSTALLS=false
    yarn install --mode=update-lockfile
    git add yarn.lock
    git commit -m "update yarn.lock"
    git push
  displayName: 'pre-release version update'
  condition: and(succeeded(), eq(variables.shouldPublish, true))
  env:
    GITHUB_PAT_ENV: $(GITHUB-PAT)
  #
  # LERNA PUBLISH
  # * Configure npm to use the provided access token, so lerna can publish
  # * Do a lerna canary publish of the version we've already updated and pushed
  # * Disable access verification (no-verify-access) as this doesn't seem to work behind Azure DevOps' npm proxy
  #     * https://github.com/lerna/lerna/issues/1685
  # * Only run for 'dev' branch
  #
- script: |
    echo //registry.npmjs.org/:_authToken=${NPM_TOKEN} > .npmrc
    $(npm bin)/lerna publish from-git --canary --pre-dist-tag canary --preid canary --no-verify-access --yes
  displayName: 'pre-release canary publish'
  condition: and(succeeded(), eq(variables.shouldPublish, true))
  env:
    NPM_TOKEN: $(NPM-TOKEN)
