{
  "extends": [
    "prettier",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "import",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./build/webpack/webpack.eslint.js",
        "config-index": 1
      }
    },
    "import/ignore": [
      "node_modules",
      ".png$",
      ".jpg$"
    ]
  },
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "import/no-duplicates": "off",
    "import/no-named-as-default": "off",
    "max-len": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": true
      }
    ],
    "linebreak-style": "off",
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": "off",
    "react/forbid-prop-types": "off",
    "react/prop-types": 0,
    "react/no-danger": "off",
    "react/require-default-props": "off",
    "react/no-array-index-key": "off",
    "no-use-before-define": 0
  }
}
