:host {
  display: block;
}

#CenterColumn {
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1170px;
  min-height: 402px;
  background: white url('/assets/img/banner.jpg') no-repeat;
  background-size: 1170px 402px;
  text-align: left;
}

#InnerCenter {
  margin: auto;
  position:relative;
  width:1150px;
  height:700px;
}

#Header {
  height:402px;
}

#Footer {
  width:100%;
  clear:both;
  padding-top:2px;
}

#LeftContent {
  width:750px;
  text-align: justify;
}

#scLogo {
  margin-top:20px;
}

.contentTitle {
  margin-top: 50px;
  font-weight:400;
  font-size: 36px;
}

.divider {
  background-color: #DCDCDC;
  border: 0 none;
  clear: both;
  display: block;
  height: 1px;
  float:none;
  margin: 50px auto;
  width: 100%;
}

.contentDescription{
  padding-right:20px;
  line-height: 22px;
}
