@import "variables";

.about-page {
  padding-bottom: 20px;

  .title {
    display: block;
    font-size:$text-size-36;
    font-weight: 600;
    line-height: 72px;
  }
  .text {
    display: block;
    font-size: $text-size-16;
    font-weight: 500;
    line-height: 32px;
  }
}
