@import "variables";

.rich-text {
  h1 {
    display: block;
    font-size: $text-size-36;
    font-weight: 600;
  }

  span {
    display: block;
    font-size: $text-size-16;
    font-weight: 500;
    line-height: 32px;
  }
}
