.component-content {
  @include respond-to(all-mobile) {
    .row {
      padding: 0;
      margin: 0;
    }
  }
}
@include respond-to(all-mobile) {
  .row {
    margin: 0;
    padding: 0;
    > * {
      padding: 0;
      margin: 0;
    }
  }
}
