@import "@sass/abstracts/mixins";
@import "variables";

body {
  font-family: Roboto;
  color: $main-color;
}

/**** START STYLE MAX HEIGHT ****/
.prod-mode {
  &#wrapper {
    height: 100vh;
  }
}

.prod-mode {
  &#wrapper {
    display: flex;
    flex-direction: column;
  
    main {
      flex: 1 0 auto;
    }
  
    footer {
      flex-shrink: 0;
    }
  }
}
/**** END STYLE MAX HEIGHT ****/

main {
  .rich-text {
    h4 {
      font-size: $text-size-24;
      font-weight: 600;
      line-height: 50px;
    }

    h2 {
      margin-top: 50px;
      font-size: $text-size-36;
      line-height: 43px;
    }
  }

  .cover-background {
    padding-top: 50px;
    @include respond-to(all-mobile) {
      padding-top: 0;
      padding-bottom: 20px;
    }
    > .component-content {
      height: 800px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  @include respond-to(all-mobile) {
    padding-top: 0;
    margin-bottom: 0;

    .cover-background {
      > .component-content {
        height: 300px;
      }
    }

    .rich-text {
      h4 {
        font-size: $text-size-16;
        line-height: 32px;
      }
      h2 {
        margin-top: 0;
        font-size: $text-size-18;
        line-height: 22px;
      }
    }
  }
}
