@import "@sass/abstracts/mixins";
@import "variables";

footer {
    position: absolute;
    width: 100%;
    height: 360px;
    background-color: $bg-dark-gray;

  .rich-text {
    @include respond-to(all-mobile) {
      padding: 0 30px;
    }

    p {
      margin-bottom: 3px !important;
    }
    span {
      font-size: $text-size-14;
      color: $text-white !important;
    }
    a {
      color: $text-white;
    }
  }

  .row {
    padding: 3rem;

    @include respond-to(all-mobile) {
      padding: 50px 0 0;
    }
  }
}
