@import "@sass/abstracts/mixins";

footer {
    position: absolute;
    width: 100%;
    height: 231px;

  .rich-text {
    font-size: 14px;
    color: $text-white;
  }

  .indent-inner {
    padding: 3rem;

    @include respond-to(all-mobile) {
      padding: 25px 0;
    }
  }
}
