@import "@sass/abstracts/vars/colors";
@import "@sass/abstracts/mixins";

header {
  .container {
    .row {
      display: flex;
      flex-direction: column;
      padding-top: 10px;

      @include respond-to(all-mobile) {
        padding-top: 0;
        flex-direction: column-reverse;
      }
    }
  }

  .title {
    padding-left: 50px;

    @include respond-to(all-mobile) {
      padding-left: 0;
    }

    .field-title {
      @include respond-to(all-mobile) {
        text-align: center;
      }
      a {
        font-size: 30px;
        font-weight: bold;
        border: none;
        margin-bottom: 0;
        color: $bg-black;
      }
    }
  }
}
