@import "@sass/abstracts/vars";
@import "variables";

.rich-text {
  color: $text-gray;
  font-size: 16px;
  
  h4 {
    line-height: 50px;
  }

  @include respond-to(all-mobile) {
    padding: 15px 30px 10px 25px;

    h2 {
      font-size: $text-size-18;
    }

    h4 {
      font-size: $text-size-18;
      line-height: 35px;
      font-weight: 600;
    }
  
    h6 {
      font-size: $text-size-14;
      strong {
        font-weight: normal;
        line-height: 24px;
      }
    }
  }
}
