// Environment template for "Disconnected" mode, local dev without a Sitecore connection.

export const environment = {
  production: false,
  scConnected: false,
  deployUrl: '',
  scApiHost: '',
  scApiKey: '',
  scAppName: '<%= SC_APP_NAME %>',
  scLayoutServiceConfig: 'jss-advanced-angular',
  defaultLanguage: 'en',
  defaultServerRoute: '/',
};
