---
import Placeholder from '@sdk/Placeholder.astro';
import Text from '@sdk/Text.astro';

const { fields, uid } = Astro.props.route;
const renderingId = `i${uid && uid.replace(/[{}]/g, '')}`;
---

<div class="pt-3" id={renderingId}>
  <Text field={fields.heading} class="border-bottom" tag="h3" />
  <Placeholder rendering={Astro.props.route} name="AstroApp-jss-styleguide-section" />
</div>
