/* You can add global styles to this file, and also import other style files */
html, body {
  box-sizing: border-box;
  height: 100%;
  font-family: "Open sans", Arial, sans-serif;
  font-size: 13px;
  margin: 0px;
  color: #131313;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
}

a:link {
  text-decoration: none;
  color: #0088cc;
}

a:hover {
  text-decoration: underline;
}
