// Environment template for "Connected" mode, local dev with a Sitecore connection.

export const environment = {
  production: false,
  scConnected: true,
  deployUrl: '',
  scApiHost: '<%= SC_API_HOST %>',
  scApiKey: '<%= SC_API_KEY %>',
  scAppName: '<%= SC_APP_NAME %>',
  scLayoutServiceConfig: 'jss',
  defaultLanguage: 'en',
  defaultServerRoute: '/',
};
