// Environment template for server-side execution (SSR) in "Integrated" or "Headless" mode.

export const environment = {
  production: true,
  scConnected: true,
  deployUrl: '<%= DEPLOY_URL %>',
  scApiHost: '<%= SC_API_HOST %>',
  scApiKey: '<%= SC_API_KEY %>',
  scAppName: '<%= SC_APP_NAME %>',
  scLayoutServiceConfig: 'jss',
  defaultLanguage: 'en',
  defaultServerRoute: '/',
};
