/* 
  Components may use their own CSS files (just import this file to the component.js)
  To add styles to the global bundle. It's recommended to use some kind of style-isolating
  pardigm such as BEM or OOCSS to avoid component styles stepping on each other.
*/

.navigation {
  margin: 0 auto;
  max-width: 1170px;
  text-align: center;
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation__link {
  background: #f0f0f0;
  color: blue;
  display: inline-block;
  font-weight: bold;
  list-style-type: none;
  padding: 14px 30px;
}

.navigation__link a:visited:not(.active) {
  color: blue;
}

.navigation__link .active {
  color: black;
}
