<mat-toolbar class="toolbar">
  <app-main-nav-item [language]="language" [navItem]="homeItem" [single]="true"></app-main-nav-item>
  <div class="navigation">
    <app-main-nav-item *ngFor="let navItem of navItems" [language]="language" [navItem]="navItem"></app-main-nav-item>
    <button mat-button [matMenuTriggerFor]="languageMenu" *ngIf="!pageEditing">{{ 'Language' | translate }}</button>
    <mat-menu #languageMenu="matMenu">
      <button mat-menu-item (click)="changeLanguage('en')">English (US)</button>
      <button mat-menu-item (click)="changeLanguage('es-MX')">Español (MX)</button>
    </mat-menu>
    <button mat-raised-button color="primary" *ngIf="!pageEditing && !currentUser" (click)="openLogin()">{{ 'Login' | translate }}</button>
    <button mat-raised-button color="primary" *ngIf="!pageEditing && currentUser" (click)="logout()">{{ 'Logout' | translate }}</button>
  </div>
</mat-toolbar>
