---
import "bootstrap/dist/css/bootstrap.css";
import "../assets/app.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>404: NotFound</title>
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <main class="container">
      <div style={{ padding: 10 }}>
        <h1>Page not found</h1>
        <p>This page does not exist.</p>
        <a href="/">Go to the Home page</a>
      </div>
    </main>
  </body>
</html>
