footer {
  background-color: #666;
}
footer .logo {
  filter: brightness(0) invert(1);
}
footer .footer-end div[class*=col-]{
  padding: 0;
}
footer .navbar-nav-svg {
  width: 1rem;
  height: 1rem;
  margin-right: 10px;
}
footer .footer-copyright, footer .footer-copyright a {
  color: rgba(255,255,255,0.8);
}

footer .footer-copyright a {
  padding-left: 5px;
  padding-right: 5px;
  border-left: 1px solid #fff;
}

@media only screen and (max-width: 767px) {
  footer {
    padding: 0 20px;
  }
  footer .container {
    width: 100%;
    max-width: 100%;
  }
  footer div[class*=col-] {
    border-bottom: 1px solid #4a4e4e;
    padding: .5rem 0;
  }
  footer .nav-link {
    padding: .1rem 0;
  }
  footer .footer-end div[class*=col-] {
    border-top: 0 none!important;
    border-bottom: 0 none!important;
  }
  footer .footer-copyright {
    padding: 0.5rem 0!important;
    margin: 0!important;
  }
}
