.hero-container {
  position: relative;
  overflow: hidden;
}
.hero-container img {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.hero-container .container {
    position: absolute;
    top: 0%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%, 0%);
}

.hero-container .copy {
    font-size: 1.2rem;
}

@media (max-width: 767px) {
  .hero-container .container {
    padding: 0px 40px;
    top: 5%;
  }
  .hero-container h2 {
     font-size: 1rem;
     top: 32%;
     text-align: center;
  }
  .hero-container .copy {
     display: none;
  }
  .hero-container .btn {
     top: 75%;
     font-size: 1rem;
     padding: 0.2rem 1rem;
     text-align: center;
  }
}