code,
pre {
  font-family: 'Roboto Mono', monospace;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 12px !important;
  line-height: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  vertical-align: middle;
}

pre:after {
  content: attr(data-lang);
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px 0 0;
  height: 15px;
  line-height: 15px;
  font-size: 0.6rem;
  color: #ccc;
  font-weight: bold;
  text-align: right;
}

.markdown-section h1 {
  font-size: 32px;
  font-size: 2rem;
  margin: 0 0 16px;
  margin: 0 0 1rem
}
.markdown-section h2 {
  font-size: 28px;
  font-size: 1.75rem;
  margin: 45px 0 12.8px;
  margin: 45px 0 .8rem
}
.markdown-section h3 {
  font-size: 24px;
  font-size: 1.5rem;
  margin: 40px 0 9.6px;
  margin: 40px 0 .6rem
}
.markdown-section h4 {
  font-size: 20px;
  font-size: 1.25rem
}
.markdown-section h5,
.markdown-section h6 {
  font-size: 16px;
  font-size: 1rem
}
.markdown-section h6 {
  color: #777
}
.markdown-section figure,
.markdown-section ol,
.markdown-section p,
.markdown-section ul {
  margin: 1.2em 0
}
.markdown-section ol,
.markdown-section p,
.markdown-section ul {
  line-height: 25.6px;
  line-height: 1.6rem;
  word-spacing: .8px;
  word-spacing: .05rem
}
.markdown-section ol,
.markdown-section ul {
  padding-left: 24px;
  padding-left: 1.5rem
}
.markdown-section blockquote {
  border-left: 4px solid #de232f;
  border-left: 4px solid var(--theme-color, #de232f);
  color: #333;
  background-color: #f8f9fa;
  margin: 1em 0;
  padding: 2px 20px;
  font-size: 0.9em;
}
.markdown-section blockquote p {
  margin-left: 0
}
.markdown-section iframe {
  margin: 1em 0
}
.markdown-section em {
  color: #7f8c8d
}
.markdown-section code {
  white-space: nowrap
}
.markdown-section code,
.markdown-section pre {
  font-family: 'Fira Code', monospace;
}
.markdown-section pre {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  line-height: 24px;
  line-height: 1.5rem;
  margin: 1.2em 0;
  overflow: auto;
  position: relative;
  word-wrap: normal
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #8e908c
}
.token.namespace {
  opacity: .7
}
.token.boolean,
.token.number {
  color: #c76b29
}
.token.punctuation {
  color: #525252
}
.token.property {
  color: #c08b30
}
.token.tag {
  color: #2973b7
}
.token.string {
  color: #E92B29;
  color: var(--theme-color, #E92B29)
}
.token.selector {
  color: #6679cc
}
.token.attr-name {
  color: #2973b7
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.url {
  color: #22a2c9
}
.token.attr-value,
.token.control,
.token.directive,
.token.unit {
  color: #E92B29;
  color: var(--theme-color, #E92B29)
}
.token.keyword {
  color: #e96900
}
.token.atrule,
.token.regex,
.token.statement {
  color: #22a2c9
}
.token.placeholder,
.token.variable {
  color: #3d8fd1
}
.token.deleted {
  text-decoration: line-through
}
.token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none
}
.token.italic {
  font-style: italic
}
.token.bold,
.token.important {
  font-weight: 700
}
.token.important {
  color: #c94922
}
.token.entity {
  cursor: help
}
.markdown-section pre>code {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  background-color: #f8f8f8;
  border-radius: 2px;
  color: #525252;
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 12.8px;
  font-size: .8rem;
  line-height: inherit;
  margin: 0 2px;
  max-width: inherit;
  overflow: inherit;
  padding: 1em 10px;
  white-space: inherit
}
.markdown-section code:after,
.markdown-section code:before {
  letter-spacing: .8px;
  letter-spacing: .05rem
}
code .token {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  min-height: 24px;
  min-height: 1.5rem
}
pre:after {
  color: #ccc;
  content: attr(data-lang);
  font-size: 9.6px;
  font-size: .6rem;
  font-weight: 600;
  height: 15px;
  line-height: 15px;
  padding: 5px 10px 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0
}
.markdown-section table code {
  white-space: nowrap;
}

.markdown-section td, .markdown-section th {
  vertical-align: top;
  padding: 5px;
}