.jumbo-container {
  position: relative;
  overflow: hidden;
}

.jumbo-container .min-height {
  min-height: 360px;
}

.jumbo-container.jumbo-container-short .min-height {
  min-height: 100px;
}

.jumbo-container .image-background {
  /*background-image: url('https://sitecorecdn.azureedge.net/-/media/www/images/resources/l2-resources-index/avanade-web-hero-banner1920x1080px.jpg');*/
  overflow: hidden;
  z-index: 1;
}
.jumbo-container .image-background img {
  z-index: 2;
}
.jumbo-container .title {
  font-size: 3rem;
  line-height: 1;
}

.jumbo-container .subtitle {
  font-size: 1rem;
}

.jumbo-container .copy {
  font-size: 1.2rem;
}

.jumbo-container .outer-shape {
  padding-top: 75px;
  padding-bottom: 75px;
}

.jumbo-container.jumbo-container-short .outer-shape {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .jumbo-container.jumbo-container-short .outer-shape {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .jumbo-container.jumbo-container-short .min-height {
    min-height: 50px;
  }
}

/* image */

.jumbo-container .shapes-wrapper {
  position: relative;
  z-index: 5;
}

.jumbo-image-container {
  content: "";
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
}

/* mobile ------------------------------------------------------------------- */

@media (max-width: 767px) {
  .jumbo-container .title {
    font-size: 2rem;
  }

  .jumbo-container .subtitle {
    font-size: 0.8rem;
  }

  .jumbo-container .copy {
    font-size: 1rem;
  }
}

/* custom styles for community page ----------------------------------------- */

#defaultimage {
  transform: translateX(40%) translateY(-75%);
}

#smallimage {
  transform: translateX(15%) translateY(-16%);
  width: 20vw;
  height: 20vw;
}

/* branding updates 2020 */
/*CSS*/


/* JUMBOTRON */

.jumbotron h1 {
	font-weight: 700;
	font-size: 2.5em; /* mobile */
	position: relative;	
}

.hlabel {
	position: relative;
}

.jumbotron {
	margin: 0;
	background: none;
	height: auto;
	position: relative;
}

.jumbotron:before {
	content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f5f5f5));
    background: linear-gradient(180deg,#fff 0,#f5f5f5 100%);
    z-index: -1;
}

.hlabel:before,
.hlabel:after,
.jumbotron h1:before,
.jumbotron h1:after {
	content: '';
    position: absolute;
    right: calc(100% + 19px);
    top: .5em;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
}

.hlabel:before,
.jumbotron h1:before {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		-webkit-box-shadow: 0 0 0 3px #fe2911;
		box-shadow: 0 0 0 3px #fe2911;
}

.hlabel:after,
.jumbotron h1:after {
	right: calc(100% + 19px + 15px);
    width: 30px;
    height: 3px;
    background-color: #fe2911;
}

.bgPattern {
	position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.bgPattern:before {
    content: '';
    position: absolute;
    right: 0;
    right: calc(42% - 870px);
    bottom: 0;
    -webkit-transform: translateX(0) translateY(42%);
    -ms-transform: translateX(0) translateY(42%);
    transform: translateX(0) translateY(42%);
    width: 870px;
    height: 870px;
    background-color: transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 125px #fe2911 inset;
    box-shadow: 0 0 0 125px #fe2911 inset;
}

.bgPattern::after {
    content: '';
    position: absolute;
    background: transparent url(/assets/img/bg_plus_repeat.png) repeat top left/60px auto;
    right: 0;
    right: calc(42% - 870px);
    bottom: 0;
    width: 870px;
    height: 468px;
    -webkit-transform: translateX(7.5%) translateY(0);
    -ms-transform: translateX(7.5%) translateY(0);
    transform: translateX(7.5%) translateY(0);
    mix-blend-mode: multiply;
}

.jumbotron .subtitle {
font-size: 14px !important;
    margin-bottom: 1.5em !important;
    font-weight: 600 !important;
    color: #666666;
    letter-spacing: 1.5pt !important;
    line-height: 1.3 !important;
    text-transform: uppercase;
}
  @media only screen and (min-width: 576px) {


	/* JUMBOTRON */

	.jumbotron h1 {
		font-size: 64px; /* Larger than mobile */
	}

.jumbotron .container .lead {
	max-width: 60%;
}
}
