.side-nav input.form-control.ds-input::placeholder {
    color: #008998;
    opacity: 1; /* Firefox */
}

.side-nav .nav {
  font-size: 14px;
  width: 100%;
}

.side-nav .nav ul {
  padding-left: 24px;
}

.side-nav li.nav-item a {
  line-height: 25px;
  height: 25px;
  width: auto;
  color: #555;
  font-family: inherit;
}

.side-nav li.nav-item.active a {
  color: #008998;
  font-weight: 700;
}

.side-nav li.nav-item a:hover {
  color: #008998;
  text-decoration: underline;
}

.side-nav .nav .nav-link {
  padding: 0 24px;
  margin: 4px 0;
}

.sub-menu > a {
  font-weight: bold;
}

.sub-menu .sub-menu > a {
  font-weight: normal;
}

.sub-menu-expand-icon {
  position: absolute;
  right: 50px;
  width: 15px;
  height: 15px;
  font-style: normal;
}

.collapsing .sub-menu-expand-icon {
  display: none;
}

.sub-menu-expand-icon:before {
  content: " ▴";
}

.sub-menu > a.collapsed .sub-menu-expand-icon:before {
  content: " ▾";
}