.side-nav input.form-control.ds-input::placeholder {
    color: #008998;
    opacity: 1; /* Firefox */
}
.ant-menu {
    color: black;
    font-family: inherit;
}

.ant-menu-inline {
    border: 0 none;
}
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title:hover,
.ant-menu-sub.ant-menu-inline > .ant-menu-item:hover,
.ant-menu-inline >.ant-menu-submenu >.ant-menu-submenu-title:hover,
.ant-menu-sub.ant-menu-inline >.ant-menu-item:hover,
.ant-menu-item > a:hover,
.ant-menu-item-selected a:active,
.ant-menu-item-selected a:hover,
.ant-menu-item-selected a.active{
    color: #008998!important;
}

.ant-menu-sub.ant-menu-inline > .ant-menu-item, .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    line-height: 25px;
    height: 25px;
    width: auto;
    color: #555;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    font-weight: bold;
    background-color: inherit;
}
.ant-menu-item-selected a:active, .ant-menu-item-selected a:hover, .ant-menu-item-selected a.active{
    color: #008998!important;
}
.ant-menu-inline .ant-menu-item:after {
    right: 0;
    border-color: transparent;
}

.ant-menu-root > .ant-menu-submenu > .ant-menu-submenu-title {
    line-height: 25px;
    height: 25px;
    color: black;
    font-weight: bold;
}

/*JSS Connected SubNav*/

.side-nav.jssConnected .ant-menu-inline .ant-menu-submenu-title {
    font-size: 20px;
    white-space: normal;
    height: auto;
    margin: 0 0 1em 0;
    font-weight: normal;
    overflow: visible;
}

.side-nav.jssConnected .ant-menu-inline .ant-menu-submenu-title[aria-expanded="true"] {
    margin: 0 0 0 0;
}

.side-nav.jssConnected .ant-menu-sub.ant-menu-inline>.ant-menu-item {
    font-size: 20px;
    white-space: normal;
    height: auto;
    margin: 0.75em;
    font-weight: 300;
}

.side-nav.jssConnected .ant-menu-sub.ant-menu-inline {
    padding: 0.5em 0;
}

.side-nav.jssConnected .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    font-weight: normal;
}

.side-nav.jssConnected .ant-menu-item > a {
    color: #666;
}


.side-nav.jssConnected .ant-menu-submenu-inline>.ant-menu-submenu-title .ant-menu-submenu-arrow {
    width: 10px; 
    height: 20px;
    top: 2px;
    left: 0;
    right: auto;
    transform: none;
    transform-origin: center center;
}
.side-nav.jssConnected .ant-menu-submenu-inline>.ant-menu-submenu-title .ant-menu-submenu-arrow:before {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;    
    border-left: 10px solid #C7C7C7;
    background: transparent;
    transform: none;
}


.side-nav.jssConnected .ant-menu-inline .ant-menu-submenu-title[aria-expanded="true"] .ant-menu-submenu-arrow {
    transform-origin: center center;
    transform: rotate(90deg);    
}

.side-nav.jssConnected .ant-menu-inline .ant-menu-submenu-title[aria-expanded="true"] .ant-menu-submenu-arrow:before {
    border-left-color: #000;
}

.side-nav.jssConnected .ant-menu-submenu-inline>.ant-menu-submenu-title .ant-menu-submenu-arrow:after {
    display: none;
}