body {
  font-family: Arial;
}

.sc-component-catalog-component-wrapper {
  position: relative;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 0px 0px 20px 0px;
}

.sc-component-catalog-component-wrapper .sc-component-catalog-component-name {
  position: absolute;
  top: 0;
  font-size: 12px;
  line-height: 1;
  margin: -6px 0 0; /* half of font-size */
  background: #fff;
  padding: 0 3px;
}
