---
import Image from '@sdk/Image.astro';
import StyleguideSpecimen from '../styleguide/Styleguide-Specimen.astro';

export interface Props {
  route: any;
}

const { route } = Astro.props
---

<StyleguideSpecimen route={route} e2eId="styleguide-fieldusage-image">
  <p>Plain image</p>
  <Image field={route.fields.sample1} height="51" width="204" />

  <p>Advanced image</p>
  <!--
    You can use any of the props available in the imag.
    imageParams: parameters that are passed to Sitecore to perform server-side resizing of the image
        Sample rescales image to max 100x50 dimensions on the server
        IMPORTANT: imageParams must be whitelisted for resizing to occur. See /sitecore/config/*.config (search for 'allowedMediaParams')
    other-attributes-pass-through
  -->
  <Image
    field={route.fields.sample2}
    imageParams={{ mw: 100, mh: 50 }}
    data-sample="other-attributes-pass-through" />
</StyleguideSpecimen>