@import '~swiper/dist/css/swiper.min.css';
:host {
  margin-top: 10px;
}

swiper>.swiper.s-wrapper .swiper-wrapper .swiper-slide.carousel-slide {
  overflow: hidden;
}

swiper {
  display: block;
}

[app-carousel]>swiper>.swiper.s-wrapper {
  margin: 20px auto;
  width: 95%;
}

@media (min-width: 600px) {
  [app-carousel]>swiper>.swiper.s-wrapper {
    width: 500px;
  }
}

@media (min-width: 750px) {
  [app-carousel]>swiper>.swiper.s-wrapper {
    width: 650px;
  }
}

.page-editing .carousel-slide {
  text-align: center;
}
