<swiper [useSwiperClass]="true" [(index)]="index" *ngIf="!pageEditing; else pageEditingBlock">
  <div class="carousel-slide" *ngFor="let item of rendering.fields.items">
    <img *scImage="item.fields.image; urlParams: imageParams; attrs: imageAttrs"
      sizes="(min-width: 750px) 650px, (min-width: 600px) 500px, 363px" />
  </div>
</swiper>

<ng-template #pageEditingBlock>
  <section class="page-editing">
    <div class="carousel-slide" *ngFor="let item of rendering.fields.items">
      <img *scImage="item.fields.image" />
    </div>
  </section>
</ng-template>
