@import '@sass/abstracts/mixins';

.container {
  padding: 0;
  margin-right: unset;
  margin-left: unset;

  &.fullwidth-container {
    max-width: unset;
  }
  .component-content {
    @include clearfix();
  }
}

